# ---------------------------------
# 针对你这个 Visual Studio 项目的 .gitignore
# ---------------------------------

# 核心垃圾：VS的本地配置文件夹
.vs/

# 编译输出目录
# （我看到你截图里有 Debug 和 x64）
Debug/
Release/
x64/
Win32/

# VS 用户相关的垃圾文件
*.vcxproj.user
*.suo

# 编译过程中产生的各种垃圾文件
*.obj
*.pch
*.ilk
*.pdb
*.tlog
*.idb

# 编译生成的可执行文件
*.exe
*.dll
*.lib
*.so